{% load static %}
<style type="text/css">
    .form-control-dark {
        border-color: var(--bs-gray);
      }
      .form-control-dark:focus {
        border-color: #fff;
        box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
      }
      
      .text-small {
        font-size: 85%;
      }
      
      .dropdown-toggle {
        outline: 0;
      }
      
</style>

<main>
    <h1 class="visually-hidden">Headers examples</h1>
  
    <div class="container">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <img class="bi me-2" width="40" height="32" src="{% static '1200px-Io-logo.svg.png' %}">
          <span class="fs-4">CodeWithIoane</span>
        </a>
        
        <ul class="nav nav-pills">
            {% if user.is_authenticated %}
                <li class="nav-item"><a href="{% url 'blog:home' %}" class="nav-link active" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="{% url 'account:logout' %}" class="nav-link">Logout</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Create Post</a></li>
                <li class="nav-item"><a href="#" class="nav-link">About</a></li>
                <li class="nav-item mt-2 fs-6"><a class="text-decoration-none" href="{% url 'account:account' %}">Hey,{{user.username}}</a></li>
          {% else %}
                <li class="nav-item"><a href="{% url 'blog:home' %}" class="nav-link active" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="{% url 'account:login' %}" class="nav-link">Login</a></li>
                <li class="nav-item"><a href="{% url 'account:register' %}" class="nav-link">Register</a></li>
                <li class="nav-item"><a href="#" class="nav-link">About</a></li> 
          {% endif %} 
        </ul>
      </header>
    </div>
  
    <div class="b-example-divider"></div>
</main>